#top-bar-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: repeating-linear-gradient(
        -45deg,
        #322f43,
        #322f43 10px,
        #c8c8c8 10px,
        #c8c8c8 20px
    );
    background-size: 28px 28px; /* Controls the size and spacing of segments */
    animation: segmented-flow 0.5s linear infinite;
    z-index: 11000;
    display: none;
}

@keyframes segmented-flow {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 28px 0;
    }
}

