@import 'root.css';
@import 'storefront.css';
@import 'hero.css';
@import 'footer.css';
@import 'membership.css';
@import 'membership-promo.css';
@import 'events.css';
@import 'event-detail.css';
@import 'notices.css';
@import 'notice-detail.css';
@import 'university-section.css';
@import 'info-page.css';
/* @import 'batch-info.css'; */
@import 'alumni-directory.css';
@import 'alumni-profile.css';
@import 'pagination.css';

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
