
.membership-promo {
    background-color: #977a82;
    padding: 2rem 2rem 3rem;
    text-align: center;
}

.membership-promo .promo-icon {
    font-size: 3.5rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.membership-promo h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1rem;
}

.membership-promo p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 2rem;
}

.membership-promo .promo-button {
    background-image: linear-gradient(to right, #e9ae9a 0%, #d19a86 100%);
    background-size: 100% auto;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Slower and more specific */
}

.membership-promo .promo-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px); /* A bit more lift to be noticeable */
}

.membership-promo .promo-button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    filter: brightness(0.95);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .membership-promo {
        padding: 1.5rem 1.5rem 2.5rem;
    }

    .membership-promo .promo-icon {
        font-size: 3rem;
    }

    .membership-promo h2 {
        font-size: 2rem;
    }

    .membership-promo p {
        font-size: 1rem;
    }

    .membership-promo .promo-button {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .membership-promo {
        padding: 1rem 1rem 2rem;
    }

    .membership-promo .promo-icon {
        font-size: 2.5rem;
    }

    .membership-promo h2 {
        font-size: 1.8rem;
    }

    .membership-promo p {
        font-size: 0.9rem;
    }

    .membership-promo .promo-button {
        padding: 0.7rem 1.2rem;
        font-size: 0.9rem;
    }
}
