/* Pagination Styles */

.frontend-pagination-container span[aria-current="page"] span,
.frontend-pagination-container a[aria-current="page"] {
    background-color: var(--secondary) !important;
    color: white !important;
    border-color: var(--secondary) !important;
    z-index: 10;
}

.frontend-pagination-container .relative.z-0.inline-flex a,
.frontend-pagination-container .relative.z-0.inline-flex span > span {
    padding: 0.4rem 0.9rem !important;
    font-size: 0.8rem !important;
}

.frontend-pagination-container .relative.z-0.inline-flex a[rel='prev'],
.frontend-pagination-container .relative.z-0.inline-flex a[rel='next'],
.frontend-pagination-container .relative.z-0.inline-flex span[aria-label] > span {
    padding: 0.4rem 0.4rem !important;
}

.frontend-pagination-container .relative.z-0.inline-flex a:hover {
    background-color: var(--background-color) !important;
}

.frontend-pagination-container .relative.z-0.inline-flex a:focus {
    outline: none !important;
    box-shadow: none !important;
}

.frontend-pagination-container p {
    color: var(--text-color-light);
}
