/* General Body Styles */
html {
    box-sizing: border-box; /* Added for consistent box model */
}

*, *::before, *::after {
    box-sizing: inherit; /* Inherit box-sizing for all elements */
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: var(--background);
    color: var(--primary-dark);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Universal font inheritance for form elements */
button,
input,
textarea,
select {
    font-family: inherit;
}



/* Main Content Area */
main {
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Body Effect on Sidebar Open */
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 99;
    pointer-events: none;
    transition: background-color 0.5s ease;
}

body.cart-open::after {
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: auto;
}


